$orange: #E84E0E;
$orange-light: #F88C6C;
$orange-lighter: #FFC59B;
$orange-dark: #E64E21;
$black: #000000;
$grey: #999999;
$grey-light: #F2F2F2;
$white: #ffffff;

$hamburger-color: $orange;
$container-width: 1090px; // navýšeno o cca 40px kvůli sekci "Chceš být naším parťákem?"
$container-padding: 60px;
$show_mobile_menu_at: 950px;